# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtualenv
venv/
ENV/
.env
*.env

# Logs
*.log

# IDE
.vscode/
.idea/

# Docker
/data/
*.pid

# System
.DS_Store
Thumbs.db
